{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link active" href="/about">About</a>
    <a class="nav-item nav-link" href="/product">Product</a>
    <a class="nav-item nav-link" href="/contact">Contact</a>
    <a class="nav-item nav-link" href="/demo">Demo</a>
{% endblock %}

{% block content %}
<div class="container about-container mt-3" >
    <div class="row justify-content-md-center align-items-end">
        <div class="col-sm-4 ">
            <div class="card p-3">
                <div class="card-heading">
                    <h1>WELCOME TO INSTAGIG</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="featurette-divider">

<div class="container marketing">
    <div class="row feauturette pt-5">
        <!-- First column should be wider -->
        <div class="col-md-6">
            <h2 class="featurette-heading">
                Our Mission
            </h2>
            <p>
                To connect the best freelancers to complete the jobs that matter to clients
                while giving freelancers greater flexibility and independence.
            </p>
        </div>
        <!-- Second column should be narrower -->
        <div class="col-md-6">
            <img
                class="img-fluid mx-auto"
                src="../static/images/girls-walking.png"
                alt="Girls Walking"
                width="1000"
                height="1000"
            />
        </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="container marketing">
        <div class="row feauturette pt-5">
            <!-- First column should be wider -->
            <div class="col-md-6 order-2">
                <h2 class="featurette-heading">
                    InstaGig: Why Was it Created?
                </h2>
                <p>
                    The nature of the work environment continues to change, 
                    many people struggle to gain experience in their field or lack flexibilty
                    in their 9-to-5 jobs. On the other hand, many clients have trouble accessing
                    trustworthy and dedicated freelancers.
                </p>
                <p>
                    InstaGig was created to tackle these problems. Our extensive background checks
                    on freelancers ensure that clients are matched with someone they can trust to 
                    get their job done. InstaGig also provides the independence and flexibility
                    that people are seeking. Freelancers can showcase their skills and experience, 
                    and offer personalized services, ranging from IT development, content writing, 
                    accounting to babysitting or walking a dog all in one location. 
                </p>
            </div>
            <!-- Second column should be narrower -->
            <div class="col-md-6 order-1">
                <img
                    class="img-fluid mx-auto"
                    src="../static/images/girls-walking.png"
                    alt="Girls Walking"
                    width="1000"
                    height="1000"
                />
            </div>
        </div>
        
    <hr class="featurette-divider">
    
    <div class="container marketing">
        <div class="row feauturette pt-5">
            <!-- First column should be wider -->
            <div class="col-md-6">
                <h2 class="featurette-heading">
                    Our Values
                </h2>
                <li>Our Customers Come First</li>
                <li>Trust</li>
                <li>Diversity</li>
                <li>Give Back</li>
            </div>
            <!-- Second column should be narrower -->
            <div class="col-md-6">
                <img
                    class="img-fluid mx-auto"
                    src="../static/images/girls-walking.png"
                    alt="Girls Walking"
                    width="1000"
                    height="1000"
                />
            </div>
        </div>
    </div>
        
    <hr class="featurette-divider">
    <h2 class="text-center mb-5">
        The Team
    </h2>
    <div class="row">
        <div class="col-md-3">
            <img
                class="rounded-circle"
                src="../static/images/placeholder.png"
                alt="placeholder"
                width="140"
                height="140"
            />
            <h3>
                Baishaki (Programmer)
            </h3>
            <p>
                Current sophomore at CCNY majoring in Computer Science.
                Love to read epic fantasy books and going for long walks.
            </p>
        </div>
        <!-- Second column (another four out of twelve grid spaces) -->
        <div class="col-md-3">
            <img
                class="rounded-circle"
                src="../static/images/placeholder.png"
                alt="placeholder"
                width="140"
                height="140"
            />
            <h2>Gerardo (Programmer)</h2>
            <p>
                Freshman at Lehman College majoring in Computer Science.
                Hobbies include swimming and hiking.
            </p>
        </div>
        <!-- Third and final column (yet another four of twelve spaces) -->
        <div class="col-md-3">
            <img
                class="rounded-circle"
                src="../static/images/placeholder.png"
                alt="placeholder"
                width="140"
                height="140"
            />
            <h2>Tina (Business)</h2>
            <p>
                Sophomore at Baruch majoring in Business. Enjoys going to
                the beach and taking photos of nature.
            </p>
        </div>
        <div class="col-md-3">
            <img
                class="rounded-circle"
                src="../static/images/placeholder.png"
                alt="placeholder"
                width="140"
                height="140"
            />
            <h2>Rithika (Business)</h2>
            <p>
                Sophomore at Baruch majoring in Business. Loves eating ice-cream
                and hiking.
            </p>
        </div>
        <!-- End of columns-->
    </div>
    <!-- End of row -->
</div>
{% endblock content %}
