{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/about">About</a>
    <a class="nav-item nav-link" href="/product">Product</a>
    <a class="nav-item nav-link" href="/contact">Contact</a>
    <a class="nav-item nav-link active" href="/faq">FAQ</a>
    <a class="nav-item nav-link" href="/demo">Demo</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="animate__animated animate__slideInRight text-center mt-5 mb-5">
            <h1 class="font-weight-bolder">FAQs</h1>
        </div>
        <div class="accordion p-3 mt-3" id="accordionExample">
            <div class="card lg-shadow">
              <div class="card-header bg-dark-blue" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-block text-white text-left" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What makes your service different from others?
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Unlike other freelancing apps out there, we conduct background checks on freelancers so clients have access
                  to trustworthy contracters. Our user-friendly platform allows price-transperancy and the ability to negotiate
                  a price unlike other apps that only allow fixed prices.

                  Our Instagig platform is also not limited to certain activities. Freelancers can offer personalized services, 
                  ranging from IT development, content writing, accounting to babysitting or walking a dog all in one location.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header  bg-dark-blue" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    If I am working for one client, can I work for another?
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Yes. It depends on the freelancer's scehdule and whether they can complete the client's task
                  in a timely and high-quality manner.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header  bg-dark-blue" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How does payment work?
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Clients provide a price on their posting but freelancers and clients can negotiate a price by using
                  our in-app messaging system. We will hold onto the funds and release them to the freelancer once
                  both parties are satisfied. Check out the products page for more information.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header  bg-dark-blue" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How do I get started? Are there any hidden fees?
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  Simply sign-up on the app and create your profile. If you are a freelancer you will have to go through
                  a background check before you can accept any jobs. If you are a client, you can start posting once you've
                  created your profile and get access to world-class freelancers! There are no hidden fees. We earn a commission
                  based on the price of the service. Check out the products page for more information on signing up and pricing.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header  bg-dark-blue" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    What is the verification process for users?
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                  We conduct background checks on freelancers. As a freelancer, you will need to upload a valid proof of 
                  identification. This could be a state issued ID card, a passport, or a copy of your birth certificate. 
                  Our team will verify the authencity of your document and notify you with an update. Once you are approved,
                  you may accept jobs and use other features of our app.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header  bg-dark-blue" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    What services do freelancers offer?
                  </button>
                </h2>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                  Freelancers can offer a variety of services. It depends on their skills and the needs of the clients.
                  There is no fixed list.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header  bg-dark-blue" id="headingSeven">
                <h2 class="mb-0">
                  <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    How do I know if a Freelancer is the right fit?
                  </button>
                </h2>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                  Every freelancer on our platform will be verified by us. Clients can further interact with freelancers
                  by viewing their profiles and through our messaging system.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header  bg-dark-blue" id="headingEight">
                <h2 class="mb-0">
                  <button class="btn  btn-block text-white text-left collapsed" style="box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%)" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    I have more questions. Who do I reach out to?
                  </button>
                </h2>
              </div>
              <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                  You can reach out to the Instagig team for any questions you may have.<br><br>
                  <p><strong>Our email: </strong>contact@instagig.com</p>
                  <p><strong>Our phone number: </strong>800-384-2394</p>
                  You can also send us an email by filling out the form on the contacts page!
                  We look forward to hearing from you!
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock content %}
