{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/about">About</a>
    <a class="nav-item nav-link" href="/product">Product</a>
    <a class="nav-item nav-link" href="/contact">Contact</a>
    <a class="nav-item nav-link active" href="/faq">FAQ</a>
    <a class="nav-item nav-link" href="/demo">Demo</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="animate__animated animate__slideInRight text-center mt-5 mb-5">
            <h1 class="font-weight-bolder">FAQs</h1>
        </div>
        <div class="accordion p-3 mt-3" id="accordionExample">
            <div class="card lg-shadow">
              <div class="card-header bg-dark-blue" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-block text-white text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header  bg-dark-blue" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-block text-white text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Some placeholder content for the second accordion panel. This panel is hidden by default.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header  bg-dark-blue" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn  btn-block text-white text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock content %}
