{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link active" href="/">Home</a>
    <a class="nav-item nav-link" href="/about">About</a>
    <a class="nav-item nav-link" href="/product">Product</a>
    <a class="nav-item nav-link" href="/contact">Contact</a>
{% endblock %}

{% block content %}
    <div class="container-fluid index">
        <div class="container">
            <div class="row gy-5 align-items-center">
                <div class="col-xs-7 col-md-6 heading animate__animated animate__fadeInLeft">
                    <h1 class="text-white">Hire a Freelancer</h1>
                    <p class="text-grey w-55">Get access to local freelancers that will help make sure your task is completed.</p>
                    <a class="text-white" href="/product"><button  class="btn btn-outline-grey btn-md text-white">Get Started</button> </a>
                </div>
                <div class="col-xs-7 col-md-6 heading">
                    <div class="row animate__animated animate__fadeInRight">
                        <div class="col text-center"><i class="fas fa-broom fa-3x"></i> <br></div>
                        <div class="col text-center"><i class="fas fa-cannabis fa-3x"></i></div>
                        <div class="col text-center"><i class="fas fa-boxes fa-3x"></i></div>
                    </div>
                    <hr>
                    <div class="row animate__animated animate__fadeInRight">
                        <div class="col text-center"><i class="fas fa-cat fa-3x"></i> <br></div>
                        <div class="col text-center"><i class="fas fa-camera-retro fa-3x"></i></div>
                        <div class="col text-center"><i class="fas fa-hammer fa-3x"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container marketing">
        <div class="row feauturette pt-5">
            <!-- First column should be wider -->
            <div class="col-md-6">
                <h2 class="featurette-heading">
                    Finding a good freelancer is hard
                </h2>
                <p>
                    Finding one locally for a small one-time task is even harder!
                    InstaGig is here to solve this problem. Get connected with 
                    reliable local freelancers to help shovel your driveway or walk
                    your dog!  
                </p>
            </div>
            <!-- Second column should be narrower -->
            <div class="col-md-6">
                <img
                    class="img-fluid mx-auto"
                    src="../static/images/girls-walking.png"
                    alt="Girls Walking"
                    width="1000"
                    height="1000"
                />
            </div>
        </div>
        <hr class="featurette-divider">
        <!-- A row of columns, which should collapse at small sizes -->
        <div class="row">
            <!-- First column (four out of twelve grid spaces) -->
            <div class="col-md-4">
                <img
                    class="rounded-circle"
                    src="../static/images/placeholder.png"
                    alt="placeholder"
                    width="140"
                    height="140"
                />
                <h2>Sandy (Client)</h2>
                <p>
                    "I love using the InstaGig app! I've hired multiple
                     freelancers to walk my dog, clean my car, buy my 
                     groceries and more. All of the freelancers I've worked
                     with were reliable and great to work with!
                    "
                </p>
            </div>
            <!-- Second column (another four out of twelve grid spaces) -->
            <div class="col-md-4">
                <img
                    class="rounded-circle"
                    src="../static/images/placeholder.png"
                    alt="placeholder"
                    width="140"
                    height="140"
                />
                <h2>James (Freelancer)</h2>
                <p>
                    "Because of the pandemic, I've had so much free time
                     on my hands. I thought why not take on some small side-gigs
                     to earn some extra cash. InstaGig allowed me to find those gigs
                     locally so I didn't have to travel far! I love it!
                    "
                </p>
            </div>
            <!-- Third and final column (yet another four of twelve spaces) -->
            <div class="col-md-4">
                <img
                    class="rounded-circle"
                    src="../static/images/placeholder.png"
                    alt="placeholder"
                    width="140"
                    height="140"
                />
                <h2>Alisha (Client)</h2>
                <p>
                    "I love the InstaGig app because it's user-friendly
                     and easy to use! Their verification process for freelancers
                     is top notch. I've hired many freelancers using the app and
                     always received great results!
                    "
                </p>
            </div>
            <!-- End of columns-->
        </div>
        <!-- End of row -->
    </div>
{% endblock content %}

