{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link active" href="/">Home</a>
    <a class="nav-item nav-link" href="/about">About</a>
    <a class="nav-item nav-link" href="/product">Product</a>
    <a class="nav-item nav-link" href="/contact">Contact</a>
{% endblock %}

{% block content %}
    <div class="container-fluid index">

        <div class="container">
            <div class="row gy-5 align-items-center">
                <div class="col-xs-7 col-md-6 heading animate__animated animate__fadeInLeft">
                    <h1 class="text-white">Hire a Freelancer</h1>
                    <p class="text-grey w-55">Get access to local freelancers that will help make sure your task is completed.</p>
                    <button class="btn btn-outline-grey btn-md text-white">Get Started</button>
                </div>
                <div class="col-xs-7 col-md-6 heading">
                    <div class="row animate__animated animate__fadeInRight">
                        <div class="col text-center"><i class="fas fa-broom fa-3x"></i> <br></div>
                        <div class="col text-center"><i class="fas fa-cannabis fa-3x"></i></div>
                        <div class="col text-center"><i class="fas fa-boxes fa-3x"></i></div>
                    </div>
                    <hr>
                    <div class="row animate__animated animate__fadeInRight">
                        <div class="col text-center"><i class="fas fa-cat fa-3x"></i> <br></div>
                        <div class="col text-center"><i class="fas fa-camera-retro fa-3x"></i></div>
                        <div class="col text-center"><i class="fas fa-hammer fa-3x"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid content">
        <div class="container mt-5">

            <div class="row featurette">
                <!-- First column should be wider -->
                <div class="col-md-8">
                    <h2 class="featurette-heading">
                        That's right, Giraffes.
                        
                    </h2>
                    <p class="lead">
                        They really rise to the occasion and compete
                        neck-and-neck with other animals.
                    </p>
                </div>
                <!-- Second column should be narrower -->
                <div class="col-md-4">
                    <img
                        class="img-fluid mx-auto"
                        src="../static/images/old-dude.jpg"
                        alt="Giraffe"
                        width="1000"
                        height="1000"
                    />
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
