{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/about">About</a>
    <a class="nav-item nav-link active" href="/product">Product</a>
    <a class="nav-item nav-link" href="/contact">Contact</a>
    <a class="nav-item nav-link" href="/faq">FAQ</a>
    <a class="nav-item nav-link" href="/demo">Demo</a>
{% endblock %}

{% block content %}
<div class="container marketing">

    <div class="text-center mt-5 mb-5">
        <h5>INSTAGIG FEATURES</h5>
        <h1 class="font-weight-bolder">One place. Endless  opportunities.</h1>
        <button class="btn btn-lg text-white bg-dark-blue">Try it out!</button>
    </div>


    <div class="w-100 product-img-container">

    </div>

    <div class="row feauturette">
        <div class="col-md-4 text-left card-deck">
            <div class="card bg-blur shadow-lg">
                <div class="card-body">
                    <i class="fas fa-sign-in-alt fa-3x"></i>
                    <p class="featurette-heading font-weight-bolder mt-2">Sign Up</p>
                    <p>
                        To connect the best freelancers to complete the jobs that matter to clients
                        while giving freelancers greater flexibility and independence.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-left">
            <div class="card bg-blur shadow-lg">
                <div class="card-body">
                    <i class="fas fa-search-plus fa-3x"></i>
                    <p class="featurette-heading font-weight-bolder mt-2">Posting</p>
                    <p>
                        Clients make a post of the job they want completed. Each post will have a "I'm Interested" button for freelancers interested in the opportunity to click
                        Clients will be able to view the profiles of freelancers who expressed interest and choose who they want to hire
                        Clients will also be able to see sample work from freelancers to help them get an idea of what they can expect                        
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-left">
            <div class="card bg-blur shadow-lg">
                <div class="card-body">
                    <i class="fas fa-credit-card fa-3x"></i>
                    <p class="featurette-heading font-weight-bolder mt-2">Payment</p>
                    <p>
                        Clients will list a price and freelancers have the option to negotiate through our messaging system 
                        Money will be held and processed only until the job is complete and both parties are satisfied 
                        Credit cards/ Debit cards/ Mobile payment methods (Apple Pay, Paypal)
                        Freelancers will be charged a commissions fee depending on the amount of money they charge clients                        
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Pricing</h1>
        <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
     </div>
      
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 bg-blur shadow-lg">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block bg-dark-blue text-white">Sign up for free</button>
        </div>
        </div>
        <div class="card mb-4 bg-blur shadow-lg">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block bg-dark-blue text-white">Get Started</button>
        </div>
        </div>
        <div class="card mb-4 bg-blur shadow-lg">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
        </div>
        <div class="card-body ">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block bg-dark-blue text-white">Contact Us</button>
        </div>
        </div>
</div>
{% endblock content %}
