{% extends "base.html" %}

{% block navbar %}
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/about">About</a>
    <a class="nav-item nav-link active" href="/product">Product</a>
    <a class="nav-item nav-link" href="/contact">Contact</a>
    <a class="nav-item nav-link" href="/faq">FAQ</a>
    <a class="nav-item nav-link" href="/demo">Demo</a>
{% endblock %}

{% block content %}
<div class="container marketing">

    <div class="animate__animated animate__fadeIn animate__slow text-center mt-5 mb-5">
        <h5>INSTAGIG FEATURES</h5>
        <h1 class="font-weight-bolder">One App. Many Opportunities.</h1>
        <a href="/demo"><button class="btn btn-lg text-white bg-dark-blue">Try it out!</button></a>
    </div>


    <div class="mb-5 product-img-container">
        <img src="../static/images/signinInstagig.png" class="proto-phone2" style="padding: 5px;"alt="">
        <img src="../static/images/proto demo.png" class="w-100 shadow-lg" alt="">
        <img src="../static/images/proto phone.png" class="proto-phone" style="padding: 5px;"alt="">
    </div>

    <div class="card-deck gy-5 mb-3 text-center">
       
        <div class="card bg-blur shadow-lg" style="border-radius: 10px;">
            <div class="card-body text-left">
                <i class="fas fa-sign-in-alt fa-3x"></i>
                <p class="featurette-heading font-weight-bolder mt-2">Sign Up</p>
                <ul>
                    <li><strong>Freelancers & Clients: </strong>sign up with your contact & bank information (ages 18+)</li>
                    <li><strong>Freelancers & Clients: </strong>customize your profiles to your needs</li>
                    <li><strong>Freelancers: </strong>go through a verification process done by our team</li>
                </ul>
            </div>
        </div>
        
        <div class="card bg-blur shadow-lg" style="border-radius: 10px;">
            <div class="card-body text-left">
                <i class="fas fa-search-plus fa-3x"></i>
                <p class="featurette-heading font-weight-bolder mt-2">Posting</p>
                <ul>
                    <li><strong>Clients: </strong>make a post of the job you want completed</li>
                    <li><strong>Freelancers: </strong>click "I'm Interested" button if you're interested in a post</li>
                    <li><strong>Clients: </strong>view profiles of freelancers who expressed interest and choose who you want to hire</li>
                    <li><strong>Clients: </strong>see sample work from freelancers to help you decide</li>
                    <li><strong>Freelancers: </strong>advertise your skills and projects to stand out</li>                       
                </ul>
            </div>
        </div>
            
        <div class=" card  bg-blur shadow-lg" style="border-radius: 10px;">
            <div class="card-body text-left">
                <i class="fas fa-credit-card fa-3x"></i>
                <p class="featurette-heading font-weight-bolder mt-2">Payment</p>
                <ul>
                    <li><strong>Clients & Freelancers: </strong>negotiate pricing through our messaging system</li>
                    <li><strong>Freelancers: </strong>charged a commission fee depending on the price of the service</li>
                    <li>We hold onto your funds until the job is complete and both parties are satisfied</li>
                    <li>Credit cards/ Debit cards/ Mobile payment methods (Apple Pay, Paypal)</li>                        
                </ul>
            </div>
        </div>
    </div>
    

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Pricing</h1>
        <p class="lead">For every job completed, we charge freelancers a commission fee based on the price of the service.</p>
    </div>
      
    <div class="card-deck mb-3 text-center">
       
        <div class="card mb-4 bg-blur shadow-lg" style="border-radius: 10px;">
            <div class="card-header bg-dark-blue" style="border-top-right-radius: 10px; border-top-left-radius: 10px;"> 
                <h4 class="my-0 font-weight-normal text-white"><strong>Service Cost: </strong>&lt;$50 </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">15% <small class="text-muted">commission</small></h1>
                <p class="pt-3"> For jobs costing less than $50, we earn 15% commission. Example jobs include walking the dog,
                    washing a car, mowing a lawn, shoveling the snow, and so on.
                </p>
            </div>
        </div>
        
        <div class="card mb-4 bg-blur shadow-lg" style="border-radius: 10px;">
            <div class="card-header bg-dark-blue" style="border-top-right-radius: 10px; border-top-left-radius: 10px;">
                <h4 class="my-0 font-weight-normal text-white"><strong>Service Cost: </strong>$100-$300</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">20% <small class="text-muted">commission</small></h1>
                <p class="pt-3">
                    For jobs costing between $100 and $300, we earn a 20% commission. Jobs may include drawing
                    artwork, creating a simple website or product.
                </p>
            </div>
        </div>

        <div class="card mb-4 bg-blur shadow-lg" style="border-radius: 10px;">
            <div class="card-header bg-dark-blue" style="border-top-right-radius: 10px; border-top-left-radius: 10px;">
                <h4 class="my-0 text-white font-weight-normal"><strong>Service Cost: </strong>&gt;$300</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">25% <small class="text-muted">commission</small></h1>
                <p class="pt-3">
                    For jobs costing greater than $300, we earn a 25% commission. Jobs may include creating
                    a complete professional website, creating a physical product like furniture, and others.
                </p>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}
